**/__pycache__/**
*.json
!analysis_scripts/tags.json
!init_artifacts_example.json
*.log
.env
**/logs/** 
*.egg-info/
*.joblib
experimental_legacy/
plots/
*.png
*.pdf
*-checkpoint.ipynb
*.svg
.idea/
!viz/static/**
